/* === CSS RESET & VARIABLES === */
:root {
    --light-pink: #f9f0ff;
    --grayish-purple: #8c6991;
    --dark-purple: #2f1533;
    --primary-purple: #ad28eb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: var(--light-pink);
    background-image: url(assets/images/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1.5rem;
}

.card {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 600px;
}

.card-header {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

h1 {
    color: var(--dark-purple);
    font-size: 2rem;
}

.faq-item {
    border-bottom: 1px solid #f3f3f3;
}

.faq-item:last-child {
    border-bottom: none;
}

.faq-question {
    width: 100%;
    background: none;
    border: none;
    padding: 1.5rem;
    text-align: left;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--dark-purple);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s ease;
}

.faq-question:hover {
    color: var(--primary-purple);
}

.icon-minus {
    display: none;
}

.faq-question.active .icon-plus {
    display: none;
}

.faq-question.active .icon-minus {
    display: block;
}

.faq-answer {
    padding: 0 1.5rem;
    display: grid;
    grid-template-rows: 0fr;
    transition: 0.3s ease-out;
}

.faq-answer p {
    overflow: hidden;
    line-height: 1.5;
}

.faq-answer.active {
    grid-template-rows: 1fr;
    margin-bottom: 1.5rem;
}