*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Figtree', sans-serif;
}

.card {
    width: 350px;
    max-width: 90%;
    background-color: #fff;
    padding: 24px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 8px 8px 0px #000;
}

.card-image img {
    max-width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
}

.badge {
    background-color: #f4d04e;
    padding: 4px 12px;
    border-radius: 5px;
    font-weight: 800;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 12px;
}

.date {
    font-size: 0.9rem;
    margin-bottom: 12px;
}

.title {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 12px;
}

.title a {
    text-decoration: none;
    color: #111;
    transition: color 0.3s ease;
}
.title a:hover {
    color: #f4d04e;
    cursor: pointer;
}

.description {
    color: #666;
    line-height: 1.5;
    margin-bottom: 20px;
}

.card-author {
    display: flex;
    align-items: center;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 12px;
}

.author-name {
    font-weight: 800;
}