*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Figtree', sans-serif;
    padding: 1.5rem;
}

.card {
    width: 100%;
    max-width: 327px;
    background-color: #fff;
    padding: 24px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 8px 8px 0px #000;
    transition: max-width 0.3s ease;
}

.card-image img {
    width: 100%;
    display: block;
    border-radius: 15px;
    margin-bottom: 24px;
}

.badge {
    background-color: #f4d04e;
    padding: 4px 12px;
    border-radius: 5px;
    font-weight: 800;
    font-size: 0.875rem;
    display: inline-block;
    margin-bottom: 12px;
}

.date {
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 12px;
}

.title {
    font-size: 1.25rem;
    font-weight: 800;
    margin-bottom: 12px;
}

.title a {
    text-decoration: none;
    color: #111;
    transition: color 0.3s ease;
}
.title a:hover {
    color: #f4d04e;
    cursor: pointer;
}

.description {
    color: #7f7f7f;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

.card-author {
    display: flex;
    align-items: center;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 12px;
}

.author-name {
    font-weight: 800;
    font-size: 0.875rem;
}

@media (min-width: 600px) {
    .card {max-width: 384px;}
    
    .title {font-size: 1.5rem;}
}

.attribution {
    position: absolute;
    bottom: 10px;
    font-size: 11px;
    text-align: center;
    width: 100%;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}