/* reset css */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture , video, canvas svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* css styling */

:root {
    --green: #c5f82aff;
    --white: #ffffffff;
    --grey: #333333ff;
    --darkgrey: #1f1f1fff;
    --off-black: #141414ff;
}

body {
    background-color: var(--off-black);
    color: var(--white);
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 24px;
}

.card {
    background-color: var(--darkgrey);
    padding: 40px;
    border-radius: 12px;
    width: 100%;
    max-width: 384px;
    text-align: center;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 24px;
    margin-inline: auto;
}

.name {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
}

.location {
    color: var(--green);
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 24px;
}

.bio {
    font-size: 14px;
    margin-bottom: 24px;
}

.link-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.link-list a {
    display: block;
    background-color: var(--grey);
    color: var(--white);
    text-decoration: none;
    padding: 12px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
}

.link-list a:hover {
    background-color: var(--green);
    color: var(--off-black);
    cursor: pointer;
}