:root {
    --color-primary: hsl(169, 82%, 27%);
    --color-primary-light: hsl(148, 38%, 91%);
    --color-red: hsl(0, 66%, 54%);
    --color-white: white;
    --color-grey-500: hsl(186, 15%, 59%);
    --color-grey-900: hsl(187, 24%, 22%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

body {
    background-color: var(--color-primary-light);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem 1rem;
}

.contact-card {
    background: var(--color-white);
    padding: 1.5rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 736px;
}

h1 {
    color: var(--color-grey-900);
    margin-bottom: 1.5rem;
}

.form-control {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}

label {
    color: var(--color-grey-900);
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 400;
}

.asterisk {
    color: var(--color-primary);
    margin-left: 4px;
}

input[type='text'],
input[type='email'],
textarea {
    border: 1px solid var(--color-grey-500);
    border-radius: 0.5rem;
    padding: 0.8rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s;
}

input:focus, textarea:focus {
    outline: none;
    border-color: var(--color-primary);
    box-shadow: 0 0 0 1px var(--color-primary);
}

textarea {
    resize: none;
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.radio-wrapper {
    border: 1px solid var(--color-grey-500);
    border-radius: 0.5rem;
    padding: 0.8rem 1.5rem ;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    transition: background 0.2s;
}

.radio-wrapper input {
    accent-color: var(--color-primary);
    transform: scale(1.2);
}

.radio-wrapper label {
    margin: 0;
    cursor: pointer;
    font-weight: 700;
    color: var(--color-grey-900);
}

.radio-wrapper:has(input:checked) {
    background-color: var(--color-primary-light);
    border-color: var(--color-primary);
}

.consent-control .checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.checkbox-wrapper input {
    accent-color: var(--color-primary);
    transform: scale(1.2);
    cursor: pointer;
}

.submit-btn {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

.submit-btn:hover {
    background: hsl(162, 82%, 15%);
}

.error-msg {
    color: var(--color-red);
    font-size: 0.85rem;
    margin-top: 0.5rem;
    display: none;
}

.form-control.error input[type='text'],
.form-control.error input[type='email'],
.form-control.error textarea {
    border-color: var(--color-red);
}

.form-control.error .error-msg {
    display: block;
}

.toast {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-grey-900);
    color: var(--color-white);
    padding: 1.5rem;
    border-radius: 0.8rem;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.5s ease-in-out, top 0.5s;
}

.toast.hidden {
    opacity: 0;
    pointer-events: none;
    top: -100px;
}

.toast-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
    font-weight: 700;
}

@media (min-width: 768px) {
    .contact-card {
        min-width: 700px;
        padding: 2.5rem;
    }

    .form-row {
        display: flex;
        gap: 1rem;
    }

    .form-row .form-control {
        width: 100%;
    }

    .radio-group {
        flex-direction: row;
    }

    .radio-wrapper {
        width: 100%;
    }
}