:root {
    --clr-primary-green: hsl(171, 66%, 44%);
    --clr-primary-blue: hsl(233, 100%, 69%);
    --clr-neutral-dark: hsl(210, 10%, 33%);
    --clr-neutral-gray: hsl(201, 11%, 66%);
    --clr-footer--bg: hsl(0, 0%, 95%);

    --ff-base: 'Bai Jamjuree', sans-serif;
    --fw-regular: 400;
    --fw-bold: 700;
    --content-max-width: 1440px;
    --space-medium: 3rem;
    --space-large: 6rem;
}

*::before, *::after {
    box-sizing: border-box;
}

*  {
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--ff-base);
    font-size: 18px;
    color: var(--clr-neutral-gray);
    line-height: 1.5;
    background-image: url(./images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
}

h1, h2, h3 {
    color: var(--clr-neutral-dark);
    font-weight: var(--fw-bold);
    line-height: 1.1;
    margin-bottom: 1rem;
}

img {
    max-width: 100%;
    display: block;
    margin-inline: auto;
}

.title {font-weight: 600;}

.container {
    width: 90%;
    max-width: 1100px;
    margin-inline: auto;
    text-align: center;
}

.mb-medium { margin-bottom: var(--space-medium);}
.mb-large { margin-bottom: var(--space-large);}

.text-body {
    max-width: 600px;
    margin-inline: auto;
}

.btn-group {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 400px;
    margin-inline: auto;
    margin-top: 2rem;
}

.btn {
    display: block;
    padding: 1rem 2rem;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    font-weight: var(--fw-bold);
    font-size: 1.1rem;
    transition: opacity 0.3s;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background-color: var(--clr-primary-green);
    border-bottom: 3px solid hsl(171, 66%, 35%);
}

.btn-secondary {
    background-color: var(--clr-primary-blue);
    border-bottom: 3px solid hsl(233, 100%, 60%);
}

.hero-section {
    padding-top: 8rem;
        padding-bottom: 4rem;
}

.hero-section .logo { width: 125px; }

.section-header { margin-top: 4rem; }

.section-header h2 { margin: 0 2.5rem;}

.snippets { padding-block: 4rem; }

.snippets-grid {
    margin-top: 3rem;
    display: grid;
    gap: 3rem;
}

.feature-grid {
    display: grid;
    gap: 4rem;
    margin-top: 4rem;
}

.feature-card .icon { height: 40px; }

.brand { padding-block: 4rem; }

.brands .container {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    align-items: center;
}

.footer {
    background-color: var(--clr-footer--bg);
    padding-block: 3rem;
    margin-top: 4rem;
}

.footer-content {
    display: grid;
    gap: 2.5rem;
    place-items: center;
}

.footer-logo .logo-small { width: 50px; }

.footer-links ul {
    list-style: none;
    margin-bottom: 1rem;
}

.footer-links a {
    text-decoration: none;
    color: var(--clr-neutral-dark);
    font-size: 1rem;
}

.footer-links a:hover { color: var(--clr-primary-green); }

.social-icons {
    display: flex;
    gap: 1.5rem;
}

.social-icons a:hover {
    filter: invert(56%) sepia(68%) saturate(357%) hue-rotate(124deg) brightness(93%) contrast(88%);
}

@media (min-width: 768px) {
    body {
        background-image: url(./images/bg-header-desktop.png);
    }

    h1 { font-size: 2.5rem; }

    .btn-group {
        flex-direction: row;
        max-width: 100%;
        justify-content: center;
    }

    .snippets-grid {
        grid-template-columns: 1fr 1fr;
        text-align: left;
        align-items: flex-start;
    }

    .snippets-image {
        margin-left: -150px;
    }

    .snippets-content {
        padding-top: 4rem;
        padding-left: 2rem;
    }

    .feature-item {
        max-width: 400px;
    }

    .feature-grid {
        grid-template-columns:  repeat(3, 1fr);
    }

    .brands .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-content {
        grid-template-columns: 100px 1fr auto;
        place-items: start;
        text-align: left;
    }

    .footer-links {
        display: flex;
        gap: 4rem;
        margin-left: 4rem;
    }

    .footer-links ul {
        margin-bottom: 0;
    }
}